@page
@using NationalPark;
@using WeatherSpace;
@using parksNamespace;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    List<ParkData> parks = (List<ParkData>)ViewData["Parks"];
    List<Address> Addresses1 = (List<Address>) ViewData["Address"];
    List<Image> images = (List<Image>)ViewData["Images"];
    Datum weathers = (Datum)ViewData["Datum"];
    List<Datum> ForecastDatas = new List<Datum>();
    List<Address> Addresses = new List<Address>();
    List<Contacts> Contact = new List<Contacts>();
    List<Image> Images = new List<Image>();
    List<OperatingHour> OperatingHours = new List<OperatingHour>();
    //var parks = ViewData["Parks"];
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

@*     <table>
        <tr>
            <th>ParkName</th>
            <th>States</th>
        </tr>
        @{
            foreach (Park park in parks)
            {
                <tr>
                    <td>@park.Name</td>
                    <td>@park.States</td>
                </tr>    
            }
        }
    </table> *@
    @{
        foreach (ParkData park in parks)
        {
            <tr>@park.ParkName</tr>
            <br>
            <tr>@park.Description</tr>

            <br>
            <tr>@park.City</tr>

            <br>
            <tr>@park.StateCode</tr>

            <br>
            <tr>@park.Latitude</tr>

            <br>
            <tr>@park.Longitude</tr>

            <br>
            <img src="@park.Images"/>
            <p>######################################################</p>
            <br>
        }
        // foreach (Address addresses in Addresses1)
        // {
        //     <tr>@addresses.City</tr>
        //     <tr>@addresses.StateCode</tr>
        //     <tr>@addresses.PostalCode</tr>

        // }
        // foreach(Image img in images)
        // {
        //     <img src="@img.Url"/>
        // }

    }
</div>
