@page
@using NationalPark;
@using WeatherSpace;
@using parksNamespace;
@using WeatherSchemaData;
@model ParkDetailModel
@{
    List<ParkData> parks = (List<ParkData>)ViewData["Parks"];
    List<WeatherInfo> weather = (List <WeatherInfo>) ViewData["Weathers"];
}

<div class="jumbotron jumbotron-fluid">

    <div class="container" style="align-self:center">
        @foreach (ParkData park in parks)
        {
            <div class="card">
                
                    <img class="card-img-top mx-auto imgClass" src="@park.Images" alt="Card image cap" style="max-width:70rem">
                

                <div class="card-body">
                    <center><h4 class="custom-card-title">@park.ParkName</h4></center>
                    <div class="row">

                        <div class="col-md-6">
                            <p class="cardClass1">
                                @park.Description
                                <br />
                                <b>Address:</b>
                                <br />
                                @park.City<br />
                                @park.StateCode<br />
                                @park.Latitude<br />
                                @park.Longitude<br />
                            </p>
                        </div>

                        <div class="col-md-6">
                            @{
                                if (weather.Any())
                                {
                                    WeatherInfo wthr = weather.First();
                                    <div class="card cardClass1">
                                        <div class="card-body">
                                            <h4 class="card-title">Weather Information for @park.City</h4>                        
                                            <p class="card-text">Description: @wthr.Description</p>
                                            <p class="card-text">Maximum Temperature: @wthr.AppMaxTemp, Minimum Temperature: @wthr.AppMinTemp</p>
                                            <p class="card-text">Cloudy Percentage: @wthr.Clouds</p>
                                            <p class="card-text">Precipitation: @wthr.Precip</p>
                                            <p class="card-text">Wind Speed: @wthr.WindSpd, Wind Direction: @wthr.WindCdir</p>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                    


                </div>

            </div>


        }
        

    </div>

</div>

